table,
tr,
td {
    border: 3px solid rgb(52, 73, 141);
    width: 30%;
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(238, 245, 255);
    color: rgb(98, 128, 184);
}